{%  extends "news/base.jinja" %}
    {% block title %}<title>News</title>{% endblock %}
        {% block content %}
            <p>Base page, if you're here, try navigating to /slide/"a number" where "a number" is a number without quotes</p>
        {% endblock %}