{% extends "news/index.jinja" %}

{% block newsTitle %}
    {% for title in newsTitle %}
        <h2>{{ title.newsTitle }}</h2>
    {% endfor %}
{% endblock %}

{% block newsInfo %}
    <p>Generic news info<br/>
        {% for article in content %}
            {{ article.content }}
        {% endfor %}
    </p>
{% endblock %}
