{% extends "news/baseIndex.jinja" %}

{% block newsTitle %}
        <h2>{{articleTitle}}</h2>
{% endblock %}

{% block newsInfo %}
    <p>Generic news info
        <ul>
            <li>{{content}}</li>
        </ul>
    </p>
{% endblock %}
