{% extends "news/index.jinja" %}

{% block newsInfo %}
    <p>Generic news info
        <ul>
            <li>All persons must wear a mask while inside campus buildings.</li>
        </ul>
    </p>
{% endblock %}