{% extends "news/base.jinja" %}

{% block newsTitle %}
        <h2>Covid Rules Update</h2>
{% endblock %}

{% block newsInfo %}
    <p>Generic news info
        <ul>
            <li>All persons must wear a mask while inside campus buildings.</li>
        </ul>
    </p>
{% endblock %}
